Repository Azure/osdu-developer, pull requests merged in 2024-08, with the labels that each got.

#143 Updated Architecture Diagram.
  docs/architecture.md
  docs/architecture.vsdx
  docs/images/architecture.png
Labels: documentation

#144 Custom Vnet validation
  bicep/README.md
  bicep/modules/cosmos-db/main.bicep
  docs/architecture.vsdx
  docs/feature-flags.md
  docs/images/network.png
  docs/vnet-injection.md
  tools/rest-scripts/check-file.http
Labels: documentation, infrastructure

#148 Moved node pools to Azure Linux.
  bicep/modules/aks_agent_pool.bicep
  bicep/modules/aks_cluster.bicep
Labels: infrastructure

#149 Upgrade to Release 27. (Milestone 24)
  README.md
  charts/osdu-developer-init/templates/schema-init.yaml
  software/applications/osdu-core/entitlements.yaml
  software/applications/osdu-core/indexer.yaml
  software/applications/osdu-core/legal.yaml
  software/applications/osdu-core/partition.yaml
  software/applications/osdu-core/schema.yaml
  software/applications/osdu-core/search.yaml
  software/applications/osdu-core/storage.yaml
Labels: documentation, software

#154 Partition Testing
  bicep/main.bicep
  bicep/modules/blade_common.bicep
  scripts/envrc_template
  scripts/settings.ps1
  scripts/template.yaml
  software/applications/osdu-core/partition.yaml
  src/.gitignore
  src/core/README.md
Labels: documentation, infrastructure, software

#155 Tutorial
  README.md
  docs/images/tutorial_1.png
  docs/images/tutorial_2.png
  docs/images/tutorial_3.png
  docs/images/tutorial_4.png
  docs/resource-providers.md
  docs/tutorials.md
  scripts/post-provision.ps1
  scripts/pre-provision.ps1
Labels: documentation

#156 Infrastructure Modifications
  bicep/main.bicep
  bicep/main.parameters.json
  bicep/modules/aks_cluster.bicep
  bicep/modules/blade_common.bicep
  bicep/modules/blade_service.bicep
  charts/istio-ingress/Chart.yaml
  charts/istio-ingress/README.md
  charts/istio-ingress/templates/_helpers.tpl
  charts/istio-ingress/templates/gateways.yaml
  charts/istio-ingress/values.yaml
  docs/feature-flags.md
  docs/vnet-injection.md
  scripts/post-provision.ps1
  software/components/mesh-ingress/gateway.yaml
Labels: documentation, infrastructure, software

#157 Documented policy RBAC
  README.md
  bicep/modules/aks_cluster.bicep
  docs/resource-providers.md
  docs/tutorial_cli.md
  docs/tutorial_rest.md
Labels: documentation, infrastructure

#158 Increased test cycle to daily and added tag.
  .github/workflows/test.yml
  README.md
Labels: documentation

#160 Minor documentation fixes
  README.md
Labels: documentation

#161 minor fix to step 3 deploy sample code
  docs/tutorial_cli.md
Labels: documentation

#162 Enabled Postgresql Database
  bicep/modules/blade_common.bicep
  bicep/modules/blade_service.bicep
  charts/config-maps/templates/config-map-devsample.yaml
  charts/env-debug/.helmignore
  charts/env-debug/Chart.yaml
  charts/env-debug/README.md
  charts/env-debug/templates/_helpers.tpl
  charts/env-debug/templates/config-map.yaml
  charts/env-debug/templates/deployment.yaml
  charts/env-debug/templates/hpa.yaml
  charts/env-debug/templates/kv-secrets.yaml
  charts/env-debug/templates/pvc.yaml
  charts/env-debug/templates/service.yaml
  charts/env-debug/templates/serviceaccount.yaml
  charts/env-debug/values.yaml
  docs/software.md
  software/applications/dev-sample/httpbin.yaml
  software/applications/dev-sample/namespace.yaml
  software/applications/dev-sample/release.yaml
  software/applications/osdu-auth/release.yaml
  software/components/database/namespace.yaml
  software/components/database/postgresql.yaml
  software/components/database/vault-secrets.yaml
  software/components/elastic-search/elastic-job.yaml
  software/components/elastic-search/elastic-search.yaml
  software/components/elastic-search/kibana.yaml
  software/components/elastic-search/namespace.yaml
  software/components/elastic-search/vault-secrets.yaml
  stamp/applications/kustomize.yaml
  stamp/components/kustomize.yaml
Labels: documentation, infrastructure, software

#163 First run at creating documentation pattern.
  docs/README.md
  docs/mkdocs.yml
  docs/src/architecture.md
  docs/src/before_you_start.md
  docs/src/images/architecture.png
  docs/src/index.md
Labels: documentation

#164 Updated Documentation
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/architecture.md
  docs/images/architecture.png
  docs/images/network.png
  docs/mkdocs.yml
  docs/resource-providers.md
  docs/src/architecture.md
  docs/src/before_you_start.md
  docs/src/feature_flags.md
  docs/src/images/tutorial_1.png
  docs/src/images/tutorial_2.png
  docs/src/images/tutorial_3.png
  docs/src/images/tutorial_4.png
  docs/src/images/tutorial_click_1.png
  docs/src/images/tutorial_click_10a.png
  docs/src/images/tutorial_click_10b.png
  docs/src/images/tutorial_click_11.png
  docs/src/images/tutorial_click_2.png
  docs/src/images/tutorial_click_3.png
  docs/src/images/tutorial_click_4.png
  docs/src/images/tutorial_click_5.png
  docs/src/images/tutorial_click_6.png
  docs/src/images/tutorial_click_7.png
  docs/src/images/tutorial_click_8.png
  docs/src/images/tutorial_click_9a.png
  docs/src/images/tutorial_click_9b.png
  docs/src/images/tutorial_click_9c.png
  docs/src/index.md
  docs/src/osdu_core.md
  docs/src/osdu_reference.md
  docs/src/osdu_source.md
  docs/src/software.md
  docs/src/tutorial_cli.md
  docs/src/tutorial_click.md
  docs/src/tutorial_rest.md
  docs/src/tutorial_vnet.md
Labels: documentation

#166 Pipeline Changes
  .github/workflows/test.yml
  bicep/main.bicep
  bicep/modules/aks_agent_pool.bicep
  bicep/modules/aks_cluster.bicep
  bicep/modules/app-configuration/.bicep/nested_rbac.bicep
  bicep/modules/app-configuration/main.bicep
  bicep/modules/blade_partition.bicep
  bicep/modules/blade_service.bicep
  bicep/modules/cosmos-db/.bicep/gremlin_database.bicep
  bicep/modules/cosmos-db/.bicep/nested_rbac.bicep
  bicep/modules/cosmos-db/main.bicep
  bicep/modules/private-endpoint/.bicep/nested_rbac.bicep
  bicep/modules/private-endpoint/main.bicep
  bicep/modules/storage-account/.bicep/nested_rbac.bicep
  bicep/modules/storage-account/main.bicep
  scripts/post-provision.ps1
Labels: infrastructure

#168 Modifications to feature flags for burstable hardware.
  .github/workflows/build.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  bicep/main.bicep
  bicep/main.parameters.json
  bicep/modules/blade_service.bicep
  docs/pipelines.md
  docs/src/feature_flags.md
Labels: documentation, infrastructure

#175 Documentation updates for feature flags.
  .github/workflows/documentation.yml
  docs/pipelines.md
  docs/src/feature_flags.md
Labels: documentation

#176 Documentation updates for feature flags.
  .github/workflows/documentation.yml
  docs/src/feature_flags.md
Labels: documentation

#179 Added vnet tutorial.
  docs/mkdocs.yml
Labels: documentation

#181 Software sequencing
  .github/workflows/documentation.yml
  bicep/modules/aks_cluster.bicep
  docs/pipelines.md
  docs/src/architecture.md
  docs/src/images/architecture_2.png
  docs/src/images/overview_1.png
  docs/src/images/overview_2.png
  docs/src/images/pipeline_1.png
  docs/src/images/pipeline_2.png
  docs/src/index.md
  docs/src/software.md
  software/applications/osdu-core/README.md
  software/applications/osdu-core/file.yaml
  software/applications/osdu-core/indexer.yaml
  software/applications/osdu-core/legal.yaml
  software/applications/osdu-core/search.yaml
  software/applications/osdu-core/storage.yaml
Labels: documentation, infrastructure, software

#182 Documentation updates.
  README.md
  docs/src/feature_flags.md
  docs/src/software.md
  docs/src/tutorial_cli.md
  docs/src/tutorial_click.md
  docs/src/tutorial_rest.md
  docs/src/tutorial_vnet.md
Labels: documentation

#184 Documentation updates.
  README.md
  docs/src/feature_flags.md
Labels: documentation

#185 Updated documentation.
  README.md
  docs/src/feature_flags.md
Labels: documentation

#186 cleaned up the tutorial per the MS content editing standards
  docs/src/tutorial_cli.md
Labels: documentation

#187 Documentation bugs.
  README.md
  docs/src/feature_flags.md
Labels: documentation

#188 Configure Airflow
  bicep/modules/blade_common.bicep
  bicep/modules/blade_service.bicep
  charts/keyvault-secrets/Chart.yaml
  charts/keyvault-secrets/templates/check-secrets.yaml
  charts/keyvault-secrets/templates/kv-secrets.yaml
  charts/keyvault-secrets/templates/serviceaccount.yaml
  dags/test_bash_operator.py
  dags/test_fetch_remote.py
  software/components/airflow/namespace.yaml
  software/components/airflow/pvc.yaml
  software/components/airflow/release.yaml
  software/components/airflow/source.yaml
  software/components/airflow/vault-secrets.yaml
  software/components/database/postgresql.yaml
  software/components/database/vault-secrets.yaml
  software/components/osdu-system/cache.yaml
  stamp/applications/kustomize.yaml
  stamp/components/kustomize.yaml
Labels: infrastructure, software

#189 Updated Airflow and OSDU to use master branches by default.
  bicep/main.bicep
  bicep/modules/aks_cluster.bicep
  bicep/modules/blade_service.bicep
  docs/src/feature_flags.md
  software/components/airflow/release.yaml
  stamp/components/kustomize.yaml
Labels: documentation, infrastructure, software
