Repository Azure/osdu-developer, pull requests merged in 2024-09, with the labels that each got.

#192 Airflow fix
  software/components/airflow/release.yaml
Labels: software

#193 Airflow Configuration
  bicep/modules/aks-config-map/main.bicep
  bicep/modules/aks-config-map/main.json
  bicep/modules/aks-config-map/test/prereq.test.bicep
  bicep/modules/aks-run-command/main.bicep
  bicep/modules/aks-run-command/main.json
  bicep/modules/cosmos-db/main.json
  bicep/modules/private-endpoint/main.json
  bicep/modules/script-blob-upload/main.bicep
  bicep/modules/script-kv-certificate/main.bicep
  bicep/modules/script-kv-certificate/main.json
  bicep/modules/script-share-upload/main.bicep
  bicep/modules/script-sshkeypair/main.bicep
  bicep/modules/script-sshkeypair/main.json
  software/components/airflow/pvc.yaml
  software/components/airflow/release.yaml
  software/components/airflow/vault-secrets.yaml
Labels: infrastructure, software

#194 This is a change to allow for App Configuration Provider 2.0
  charts/config-maps/templates/config-map-software.yaml
  charts/osdu-developer-base/templates/config-map-services.yaml
  charts/osdu-developer-base/templates/config-map-software.yaml
  charts/osdu-developer-base/templates/config-map-values.yaml
Labels: software

#195 Validating tests for Partition, Entitlements, Legal
  bicep/main.bicep
  scripts/envrc_template
  scripts/template.yaml
Labels: infrastructure

#197 Workflow Service Validation
  bicep/modules/blade_partition.bicep
  docs/src/osdu_core.md
  software/applications/osdu-core/search.yaml
  software/applications/osdu-core/workflow.yaml
  software/components/airflow/release.yaml
  software/components/airflow/vault-secrets.yaml
  src/core/repos
  tools/rest-scripts/check-file.http
  tools/rest-scripts/workflow.http
Labels: documentation, infrastructure, software

#196 Minor fix to PowerShell profile scripting example
  docs/src/tutorial_cli.md
Labels: documentation

#198 Load DAGS into airflow
  bicep/modules/blade_common.bicep
  bicep/modules/blade_service.bicep
  dags/test_bash_operator.py
  dags/test_pip_packages.py
  software/components/airflow/release.yaml
  software/components/airflow/source.yaml
  software/components/airflow/vault-secrets.yaml
Labels: infrastructure, software

#199 Configure Workflow Service with DAGS loaded
  charts/osdu-developer-init/templates/workflow-init.yaml
  docs/src/osdu_core.md
  scripts/settings.ps1
  scripts/template.yaml
  software/applications/osdu-core/workflow.yaml
  software/components/airflow/ingress.yaml
  software/components/airflow/namespace.yaml
  software/components/airflow/release.yaml
  src/.gitignore
  src/Application_Insights.md
  tools/rest-scripts/local.http
  tools/rest-scripts/workflow.http
Labels: documentation, software

#200 Validates the execution of dags via workflow.
  bicep/modules/blade_common.bicep
  bicep/modules/script-share-upload/main.bicep
  bicep/modules/script-share-upload/script.sh
  software/components/airflow/pvc.yaml
  software/components/airflow/release.yaml
  tools/rest-scripts/admin.http
  tools/rest-scripts/check-ingest.http
Labels: infrastructure, software

#201 Initial Work preparing for CSV Parser.
  bicep/modules/blade_common.bicep
  bicep/modules/script-share-upload/script.sh
  charts/osdu-developer-init/templates/workflow-init.yaml
  software/applications/osdu-core/workflow.yaml
Labels: infrastructure, software

#203 Enable CSV DAG
  bicep/main.bicep
  bicep/modules/aks_cluster.bicep
  bicep/modules/blade_common.bicep
  bicep/modules/blade_service.bicep
  bicep/modules/script-share-csvdag/README.md
  bicep/modules/script-share-csvdag/main.bicep
  bicep/modules/script-share-csvdag/script.sh
  charts/osdu-developer-init/templates/workflow-init.yaml
  dags/test_fetch_remote.py
  dags/test_pip_packages.py
  software/applications/osdu-core/workflow.yaml
Labels: documentation, infrastructure, software

#204 Website
  .github/workflows/web.yml
  docker-compose.yaml
  web/.gitignore
  web/Dockerfile
  web/README.md
  web/bun.lockb
  web/docker-compose.yaml
  web/images/Black logo - no background.png
  web/images/Color logo - no background.png
  web/images/White logo - no background.png
  web/images/browser.png
  web/images/logo_white_bg.png
  web/index.ts
  web/package.json
  web/tsconfig.json
Labels: documentation

#205 Default web site
  .github/workflows/web.yml
  software/applications/podinfo/pod.yaml
Labels: software

#206 Removing podinfo and moving to web-site
  software/applications/podinfo/pod.yaml
  software/applications/podinfo/release.yaml
  software/applications/podinfo/source.yaml
  software/applications/web-site/ingress.yaml
  software/applications/web-site/namespace.yaml
  software/applications/web-site/web-site.yaml
  stamp/applications/kustomize.yaml
Labels: software

#212 Elastic Upgrade
  software/applications/web-site/ingress.yaml
  software/applications/web-site/namespace.yaml
  software/components/elastic-search/elastic-search.yaml
  software/components/elastic-search/kibana.yaml
  software/components/osdu-system/elastic.yaml
  tools/rest-scripts/check-csv.http
  tools/rest-scripts/check-file.http
  tools/rest-scripts/check-record.http
Labels: software
